@charset "UTF-8";
@font-face {
    font-family:'Idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #3DDB84;
    --cor1: #529C73;
    --cor2: #DB4B3D;
    --cor3: #865752;
    --cor4: #485C51;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-bebas: 'Bebas Neue', sans-serif;
    --font-android: 'Idroid', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--font-padrao);
    background-color: var(--cor4);
}

a.externo::after{
    content: '\00A0\2197';
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1) );
    text-align: center;
    padding-top: 40px;
    min-height: 150px;
}

header>h1{
    font-family: var(--font-bebas);
    font-size: 3em;
    color:white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0,0, 0, 0.278);
}

header>p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.5em;
    text-shadow: 2px 2px 0px rgba(0,0, 0, 0.378);
    padding-bottom: 30px;
}

nav{
    background-color: var(--cor1);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0,0, 0, 0.188);
    text-align: center;
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor4);
    color: var(--cor2);
}

main{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,11, 13, 0.678);
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

main h1{
    color: var(--cor1);
    font-family: var(--font-android);
    text-align: center;
    font-size: 2em;
}

main h2{
    font-family: var(--font-android);
    color: var(--cor2);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
    text-align: center;
}

main h3{
    font-family: var(--font-android);
}

main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
}

main strong {
    font-weight: bold;
    color: var(--cor2);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
    background-color: var(--cor4);
    padding: 2px 6px;
    border-radius: 5px;
}

main a:hover{
    background-color: var(--cor4);
    color: var(--cor2);
}

main img {
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color:var(--cor1);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0,0, 0, 0.290);
}

aside > ul {
    list-style-type: '\2705\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h3{
    background-color: var(--cor1);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-family: var(--font-android);
}

footer{
    background-color:var(--cor1);
    text-align: center;
    padding: 5px;
    color:white
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
